---
import Layout from "../layout/Layout.astro";
import Details from "../components/Details.astro";
import SearchBar from "../components/SearchBar.astro";
---

<Layout>
  <SearchBar />
  <p>Connect with people in just one link.</p>
  <Details />
</Layout>

<style>
  p {
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 5px;
    color: blueviolet;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
  }
  @media (max-width: 400px) {
    p {
      font-size: 26px;
    }
  }
</style>
