---
interface Props {
  name?: string;
  slug: string;
  img: string;
}

const { name, slug, img } = Astro.props as Props;
---

<div class="card">
  <div class="image">
    <img src={img} alt={name?.split(" ")[0] + " " + slug} />
  </div>
  <a href={`/${slug}`}>
    <div class="name">{name}</div>
  </a>
</div>

<style>
  .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    height: 100px;
  }
  .name {
    display: flex;
    justify-content: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    padding-top: 30px;
    font-size: 18px;
    font-weight: 600;
    color: blueviolet;
  }
  a {
    text-decoration: none;
  }

  .card:hover {
    box-shadow: 0 0 10px blueviolet;
  }

  .image {
    display: flex;
    justify-content: center;
  }
  .image > img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
  }
</style>
