<header>
  <div class="heading"><a href="/">ProfileFuse</a></div>
  <div class="options">
    <div><a href="">Github</a></div>
    <div><a href="/docs">Docs</a></div>
    <button>light</button>
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: blueviolet;
    color: whitesmoke;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .heading {
    font-size: 20px;
  }
  .heading > a {
    color: whitesmoke;
    text-decoration: none;
  }

  .options {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .options > div > a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 12px;
  }

  .options > button {
    background-color: yellowgreen;
    border: 0;
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
</style>
